.workspaces {
    border-radius: 0.4rem;
    padding: 0.2rem;
    margin: 0;
}

.workspace {
    font-size: 1.05rem;
    border-radius: 0.4rem;
    background-color: $onPrimary;
    margin: 0 0.25rem;
    padding: 0 0.7rem;
    transition: 0.3s;

    &.current {
        color: black;
        background-color: $primary;
        padding: 0 1.3rem;
    }
}

.workspace:hover {
    background-color: mix($onPrimary, $onSurface, 70%);
    &.current {
        background-color: mix($primary, $onSurface, 70%);
    }
}