/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */
@define-color wb-bg-light rgba(200, 200, 200, 0.7);
@define-color wb-bg rgba(20, 20, 20, 0.8);
@define-color backgroundLight #FFFFFF;
@define-color backgroundDark rgba(46, 46, 46, 0.7);
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color borderLight #FFFFFF;
@define-color borderDark rgb(90, 90, 90);
@define-color textLight #000000;
@define-color textDark #FFFFFF;
@define-color iconcolor #FFFFFF;

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: Helvetica, Arial, "JetBrainsMono Nerd Font", FontAwesome, Roboto, sans-serif;
    border: none;
    border-radius: 0px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: @wb-bg;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    margin: 0px 5px;
    padding: 0px 1px;
    border-radius: 7px;
    border: 0px;
    font-style: normal;
    font-size: 14px;
    color: @textDark;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 4px;
    border-radius: 7px;
    border: 0px;
    color: @textDark;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @textLight;
    background: @workspacesbackground1;
    border-radius: 7px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textLight;
    background: @workspacesbackground2;
    border-radius: 7px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 7px;
    background-color: @backgroundDark;
    opacity:0.9;
    padding:20px;
    margin:0px;
    border: 1px solid @borderDark;
}

tooltip label {
    color: @textDark;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-cliphist,
#custom-wallpaper,
#custom-system,
#custom-hypridle {
    margin: 0px 10px;
    font-size: 16px;
    /*font-weight: bold;*/
    color: @iconcolor;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

 #idle_inhibitor {
    /*margin-right: 15px;*/
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    /*margin-right: 15px;*/
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

/* -----------------------------------------------------
 * Custom iDevice Battery
 * ----------------------------------------------------- */

#custom-idevice_battery {
    font-size: 14px;
    color: @textDark;
    padding: 2px 0px;
    margin: 0px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu {
    margin:0px 0px;
    padding:2px 0px;
    font-size:14px;
    color:@iconcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 14px;
    color: @textDark;
    padding: 2px 5px;
    margin: 0px 5px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 14px;
    color: @textDark;
    padding: 2px 5px;
    margin: 0px 5px;
}

#pulseaudio.muted {
    color: @textDark;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: transparent;
    font-size: 14px;
    color: @textDark;
    padding: 2px 5px;
    margin: 0px 5px;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    /*background-color: @backgroundLight;*/
    font-size: 14px;
    color: @textDark;
    /*border-radius: 15px;*/
    padding: 2px 5px;
    margin: 0px 5px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 14px;
    color: @textDark;
    padding: 2px 5px;
    margin: 0px 5px;
}

#battery.charging, #battery.plugged {
    color: @textDark;
}

@keyframes blink {
    to {
        background-color: @backgroundLight;
        color: @textDark;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textLight;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

