.indicator {
    border-radius: 0.4rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    margin-right: 0;
    transition: 0.3s;
}

.indicator-icon {
    margin: 0 0.15rem;
    padding: 0 0.5rem;
    font-size: 1.3rem;
}

.indicator:active {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}

.quick-settings-dropdown {
    margin: 0.5rem 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}